.hero {
  background-image: url(../../public/assets/home/desktop/image-hero.jpg);
  background-color: var(--bg-dark);
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: calc(100vh - 85px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  &__text {
    max-width: 398px;

    &--new-product {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 10px;
      text-transform: uppercase;
      color: var(--white);
      mix-blend-mode: normal;
      opacity: 0.5;
      margin-bottom: 24px;
    }

    &--description {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      color: var(--white);
      mix-blend-mode: normal;
      opacity: 0.75;
      margin-bottom: 40px;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 58px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--white);
    margin-bottom: 24px;
  }

  a {
    padding: 15px 30px;
    background: var(--accent);
    color: var(--white);
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: background $transition-delay;

    &:hover {
      background: var(--accent-hover);
    }
  }
}

.index {
  padding: 200px 165px;

  &__categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 168px;

    .category {
      position: relative;
      background: var(--gray);
      border-radius: 8px;
      width: 350px;
      height: 204px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 116px;

      p,
      a {
        text-transform: uppercase;
        font-weight: 700;
        color: var(--black);
      }

      p {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 1.28571px;
        color: var(--black);
        margin-bottom: 15px;
      }

      a {
        text-decoration: none;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        mix-blend-mode: normal;
        opacity: 0.5;
        display: flex;
        align-items: center;

        svg {
          margin-left: 13px;
        }
      }

      &:nth-child(1) {
        &::before {
          background: url(../../public/assets/shared/desktop/image-category-thumbnail-headphones.png);
          background-position: center;
          background-size: cover;
        }
      }

      &:nth-child(2) {
        &::before {
          background: url(../../public/assets/shared/desktop/image-category-thumbnail-speakers.png);
          background-position: center;
          background-size: cover;
        }
      }

      &:nth-child(3) {
        &::before {
          background: url(../../public/assets/shared/desktop/image-category-thumbnail-earphones.png);
          background-position: center;
          background-size: cover;
        }
      }

      &::before {
        width: 160px;
        height: 160px;
        content: "";
        position: absolute;
        top: -55px;
      }
    }
  }

  &__showcase {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .product {
      border-radius: 8px;

      &.text,
      .big {
        display: flex;
        gap: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      &.text {
        padding: 0 95px;
      }

      .big {
        margin-left: auto;
        max-width: 349px;

        .product--name {
          font-weight: 700;
          font-size: 56px;
          line-height: 58px;
          letter-spacing: 2px;
          text-transform: uppercase;
          color: var(--white);
        }
      }

      &--name {
        font-weight: 700;
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: var(--black);
      }

      &--details {
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: var(--black);
        padding: 15px 32px;
        border: 1px solid var(--black);
        text-decoration: none;
      }

      &:nth-child(1) {
        background: url(../../public/assets/home/desktop/image-speaker-zx9.png)
            no-repeat,
          var(--accent);
        height: 560px;

        .product--details {
          color: var(--white);
          background: var(--black);
        }
      }

      &:nth-child(2) {
        background: url(../../public/assets/home/desktop/image-speaker-zx7.jpg)
          right no-repeat;
        background-size: cover;
        height: 320px;
      }
    }

    .products--split {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .product {
        width: 540px;
        height: 320px;

        &:nth-child(1) {
          background: url(../../public/assets/home/desktop/image-earphones-yx1.jpg)
            no-repeat;
        }

        &:nth-child(2) {
          background: var(--gray);
        }
      }
    }
  }
}

body {
  background-color: #fafafa;
}

section {
  padding: 0 165px;
}
