:root {
  --bg: #fafafa;
  --bg-dark: #141414;
  --accent: #d87d4a;
  --accent-hover: #fbaf85;
  --gray: #f1f1f1;
  --white: #fff;
  --black: #000;
  --transition-delay: 0.2s;
  --border-radius: 8px;
  --body-padding: 24px;
}

@media (min-width: 768px) {
  :root {
    --body-padding: 40px;
  }
}

@media (min-width: 992px) {
  :root {
    --body-padding: calc((100vw - 1110px) / 2);
  }
}
