.page-header {
  padding: 96px 0;
  background-color: var(--bg-dark);

  h1 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 1.42857px;
    text-transform: uppercase;
    color: var(--white);
  }
}
